@import url("https://fonts.googleapis.com/css2?family=Rokkitt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8efef;
}

.beforeContent {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". f f ."
    ". f f ."
    ". . . ."
    ". . . .";
  margin: 0 auto;
}

.content {
  height: fit-content;
  grid-area: f;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-areas: "a b";
  box-shadow: 5px 10px 50px #bbdad0;
}
.column1 {
  height: fit-content;
  grid-area: a;
  border-radius: 15px 0px 0px 15px;
  background-color: #ffffff;
}
.contentbox1 {
  margin: 5% 10%;
}
.head {
  padding: 30px 20px;
  font-family: "Rokkitt", serif;
  font-size: 36px;
  font-weight: 900;
  color: #161843;
}
.subhead1 {
  padding-left: 20px;
  font-family: "Muli", sans-serif;
  font-size: 6px;
  font-size: 16px;
  line-height: 23px;
  color: #161843;
}
.email {
  margin: 15px 20px 0px;
  padding: 15px;
  width: 85%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: "Muli", sans-serif;
  font-size: 12px;
  color: #717a91;
  outline-style: none;
}
.passwrd {
  width: fit-content;
  margin-left: 20px;
  margin-bottom: 20px;
  font-family: "Muli", sans-serif;
  font-size: 12px;
  display: inline-block;
  padding: 30px 0px;
  color: #0c6787;
}
.link1 {
  text-decoration: none;
  color: #0c6787;
}
.btn {
  border: 1px solid #ccc;
  float: right;
  color: #ffffff;
  background-color: #046586;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 25px;
  padding: 15px 25px;
}
.fa-arrow-right {
  margin-left: 10px;
}
.line {
  width: 85%;
  margin: 0 auto;
  border: 1px solid #cad6e4;
}
.our {
  padding: 15px;
  width: fit-content;
  font-family: "Muli", sans-serif;
  font-size: 5px;
  margin: 0 auto;
  color: #838a9e;
}
.fb {
  width: fit-content;
  border: 1px solid #ccc;
  display: inline-block;
  margin-top: 8px;
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px 15px;
  font-family: "Muli", sans-serif;
  font-size: 9px;
  text-align: center;
}
.fa-facebook {
  color: #4d53c0;
  font-size: 25px;
  margin-right: 10px;
}

.g {
  width: fit-content;
  border: 1px solid #ccc;
  float: right;
  margin-top: 8px;
  border-radius: 5px;
  margin-right: 20px;
  padding: 10px 15px;
  font-family: "Muli", sans-serif;
  font-size: 9px;
  justify-self: center;
}
.fa-google {
  color: #e72323;
  font-size: 25px;
  margin-right: 10px;
}
.footer {
  width: fit-content;
  margin: 20px auto;
  padding: 25px;
  font-family: "Muli", sans-serif;
  font-size: 5px;
}
.column2 {
  grid-area: b;
  background: #143;
  border-radius: 0px 15px 15px 0px;
  background-image: url(img/undawata.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 10px 50px #bbdad0;
}
.exit {
  margin: 15px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  float: right;
}
.fa-times-circle {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.85);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  body {
    background-image: url(img/undawata.jpeg);
    background-size: cover;
    background-repeat: 50%;
    background-position: center/center;
  }

  .beforeContent {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    margin: 0 auto;
  }

  .content {
    grid-area: f;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 15%;
    grid-template-areas:
      ". . ."
      ". a ."
      ". . .";
    box-shadow: none;
  }
  .column1 {
    width: 90%;
    margin-top: 15vh;
    margin-bottom: 15vh;
    grid-area: a;
    border-radius: 15px;
    background-color: #ffffff;
  }
  .contentbox1 {
    width: 100%;
    margin: 20px auto;
    border: 2px solid #000;
  }
  .head {
    padding: 23px;
    font-family: "Rokkitt", serif;
    font-size: 30px;
  }
  .subhead1 {
    padding: 0px 23px;
    font-family: "Muli", sans-serif;
    font-size: 14px;
    line-height: 23px;
    color: #161843;
  }
  .email {
    margin: 15px 23px 0px;
    padding: 15px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Muli", sans-serif;
    font-size: 12px;
    color: #717a91;
    background-color: #eeeeee;
  }
  .passwrd {
    width: fit-content;
    margin-left: 23px;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .link1 {
    text-decoration: none;
    color: #0c6787;
  }
  .btn {
    border: 1px solid #ccc;
    float: right;
    color: #ffffff;
    background-color: #046586;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 23px;
    padding: 13px 18px;
  }
  .fa-arrow-right {
    margin-left: 10px;
  }
  .line {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #cad6e4;
  }
  .our {
    padding: 15px;
    width: fit-content;
    font-family: "Muli", sans-serif;
    font-size: 10px;
    margin: 0 auto;
    color: #838a9e;
  }
  .fb {
    display: inline-block;
    margin-top: 0px;
    margin-left: 23px;
    padding: 8px 12px;
    font-size: 10px;
  }
  .fa-facebook {
    color: #4d53c0;
    font-size: 16px;
    margin-right: 5px;
  }

  .g {
    border-radius: 5px;
    margin-right: 23px;
    margin-top: 0px;
    padding: 8px 12px;
    font-size: 10px;
  }
  .fa-google {
    color: #e72323;
    font-size: 16px;
    margin-right: 5px;
  }
  .footer {
    width: fit-content;
    margin: 5 auto;
    padding: 20px;
    text-align: center;
    font-family: "Muli", sans-serif;
    font-size: 12px;
  }
  .column2 {
    display: none;
  }
}
